.application { position: fixed; left: 0; right: 0; top: 0; bottom: 0; }
.application-image, .application-sidebar {
  position: absolute; top: 0; bottom: 0;
}

.application-image { left: 0; right: 20em; }
.application-sidebar { right: 0; width: 20em; }

.application-sidebar {
  border-left: 1px solid rgb(225, 225, 232);
  overflow-y: auto;
}
