.application { position: fixed; left: 0; right: 0; top: 0; bottom: 0; }
.application-image, .application-sidebar {
  position: absolute; top: 0; bottom: 0;
}

.application-image { left: 0; right: 20em; }
.application-sidebar { right: 0; width: 20em; }

.application-sidebar {
  border-left: 1px solid rgb(225, 225, 232);
  overflow-y: auto;
}

.application-image { background-color: #002b36; }

.application-welcome-overlay {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.application-welcome-overlay-inner {
  margin: 100px auto 0px auto; background-color: white;
  max-width: 60em; padding: 30px 30px 0px 30px; border-radius: 8px;
}
